$yellow: #ffd400;

h1.display-4 {
  font-weight: bold;

  &.highlight {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 82%, $yellow 65%);
    background-position-y: -20px;
    background-position-x: -10px;
  }
}

img#me-img {
  max-width: 85%;
}